# General
# - directories
__pycache__/
/.idea/
/.run/
bin/
cache/
semantic.cache/
# - patterns
*.code-workspace
*.tmp
*.tmp.obo
*.tmp.owl
*.tmp.json
*.db
!/tests/input/**/*.db
.vscode/*

# - static
.DS_Store

src/scripts/.ipynb_checkpoints/*

# Test
tests/output/*
!tests/output/.gitkeep

# Custom
token.txt
env/
.env
input/
!tests/input/
!tests/input/logs.txt
output/
db.tsv
